.time-slot{
  .select-slot{
    font-size:15px;
    color: #006c92;
  }
  ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    li{
      list-style-type: none;
      color: #252525;
      border:solid #252525;
      padding:0 10px;
      border-radius: 25px;
    }
  }
}
