ion-content{

  .page-content{
    margin:20px;
    background-color: #373d64;
    .heading{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo{
        img{
          width: 70px;
          height: 30px;
        }
      }
      ion-icon{
        font-size:xx-large;
        color:gray;
      }
    }
    .select-location{
      margin:20px 0;
      .select-location-label{
        font-size:15px;
        color: #006c92;
        margin:20px;
      }
      ion-radio-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .location{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

    }
    .date-picker{
      display: flex;
      justify-content: center;
    }

  }
}


