ion-content{

  .page-content{
    background-image: linear-gradient(#2e2e33, #444448);
    padding:20px;
    .heading{
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo{
        img{
          width: 70px;
          height: 30px;
        }
      }
      ion-icon{
        font-size:xx-large;
        color:gray;
        color: #fff;
      }
    }
    .select-location{
      margin:20px 0;
      .select-location-label{
        font-size:15px;
        color: #006c92;
      }
      ion-radio-group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .location{
          display: flex;
          align-items: center;
          justify-content: space-between;
          ion-label{
            color:#fff;
          }

        }
      }

    }
    .date-picker{
      display: flex;
      justify-content: center;
      ion-datetime{
        background-color: transparent;
        color: #fff;
      }

    }



  }
}


