
<ion-content>

  <div class="page-content">

    <div class="heading">
      <div class="logo">
        <img src="https://itmattersforlife.com/images/logo-itmatters.png">
      </div>
      <ion-icon name="close-circle-outline"></ion-icon>
    </div>

      <div class="select-location">
       <ion-label class="select-location-label">
        Select Location
       </ion-label>

        <ion-radio-group value="biff">

          <div class="location">
            <ion-radio value="Carlstadt"></ion-radio>
            <ion-label>Carlstadt</ion-label>
          </div>

          <div class="location">
            <ion-radio value="Mahwah"></ion-radio>
            <ion-label>Mahwah</ion-label>
          </div>

          <div class="location">
            <ion-radio value="Red bank" ></ion-radio>
            <ion-label>Red bank</ion-label>
          </div>

        </ion-radio-group>
      </div>

    <div class="date-picker">
      <ion-datetime presentation="date">
      </ion-datetime>
    </div>

    <div class="time-slot">
      <ion-label class="select-slot">
        Select Available Slot
      </ion-label>
      <ul>
        <li>7:00</li>
        <li>10:00</li>
        <li>1:00</li>
        <li>4:00</li>
      </ul>
      <ul>
        <li>7:30</li>
        <li>10:30</li>
        <li>1:30</li>
        <li>4:30</li>
      </ul>
      <ul>
        <li>8:00</li>
        <li>11:00</li>
        <li>2:00</li>
        <li>5:00</li>
      </ul>
      <ul>
        <li>8:30</li>
        <li>11:30</li>
        <li>2:30</li>
        <li>5:30</li>
      </ul>
      <ul>
        <li>9:00</li>
        <li>12:00</li>
        <li>3:00</li>
        <li>6:00</li>
      </ul>
      <ul>
        <li>9:30</li>
        <li>12:30</li>
        <li>3:30</li>
        <li>6:30</li>
      </ul>
    </div>
  </div>

</ion-content>

